div
  | If you would like to keep track of what I'm up to, check out the following:
  div
    a.button(href="http://mrcraigpayne.blogspot.co.uk/") Blogger
    | Blog containing latest ideas etc.  
    br
    a.button(href="https://plus.google.com/116003971960719381154/posts") Google Plus
    | Don't really use google plus much, but I'm sometimes there
    br
    a.button(href="https://www.facebook.com/GinWhiskers") Facebook
    | I tend to check this a lot more!
    br
    a.button(href="http://www.linkedin.com/profile/view?id=38631985&amp;trk=tab_pro") Linked In
    | I tend to keep this up to date, contact me for work though here
    br 
    a.button(href="http://stackoverflow.com/users/1592752/craig-payne") Stack Overflow
    | I try to answer more questions on here than I ask, not had chance to for a while though
    br
    a.button(href="https://twitter.com/craigpayneuk") Twitter
    | I still don't get Twitter, i like to tweet everytime i post a blog entry though
    br
    a.button(href="http://www.codeplex.com/site/users/view/erroroccured") Codeplex
    | Haven't used this in a while
    br
    a.button(href="https://github.com/erroroccured") Github
    | Most of my ideas end up here when i get chance
    br